.App {
  text-align: center;
  font-family: 'roboto';
  font-size: 0.85rem;
  letter-spacing: 0.02rem;
  word-spacing: 0.01rem;
}

/* HEADER */
.header-main {
  display: flex;
  justify-content: space-around;
  height: 60px;
}
.header-list, .logo {
  align-self: center;
}
.header-list li {
  display: inline;
  list-style-type: none;
  margin: 0px 30px 0px 30px;
  font-size: 0.75rem;
}
.header-list li:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  cursor: pointer;
}


/* BANNER */
.heading {
  color:white;
  font-size: 3rem;
  font-family: 'montserrat';
  word-spacing: 1rem;
  letter-spacing: 0.2rem;
}
.banner-bg {
  background-color:rgb(76, 200, 233);
  padding-top:3.5%;
  padding-bottom:13%;
}
.banner-btn {
  width: 150px;
  height: 30px;
  background-color:red;
  border: none;
  border-radius: 25px;
  color:white;
  margin-top: 15px;
}
.banner-btn:hover {
  background-color: white;
  color:black;
  transform: scale(1.1);
}

/* BODY */

.body-bg {
  display: flex;
  justify-content: center;
}
.card {
  width: 200px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-right: 20px;
  margin-top: -130px;
  padding: 1rem;
  padding-top: 2.5rem;
}
.card:last-child {
  margin-right: 0px;
}
.card:hover {
  transform: scale(1.05);
}
.card-title {
  font-size: 1rem;
  margin-bottom: 10px;
}
.card-text {
  font-size: 0.8rem;
  line-height: 150%;
}


@media only screen and (max-width: 600px) {
  .body-bg {
    display: block;
  }
  .card  {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .header-list li {
    margin: 0px 10px 0px 10px;
  }
}